.main{
    background-image: url(./space-img/spacew2.jpg);
    background-size: 100% 100%;
    max-width: 1350px ;
    height: 700px;
}
/* .homeclr{
    background-color: black;
}
.clr{
    color: white;
}

.nav{
    max-width: 1350px;
    height:80px ;
    background-color: black;
} */
